/* 
@media (min-width: 992px){
    .modal-full {
        min-width: 20%;
        margin-left: 80;
    }
    
    .custom-modal {
        width: 897px;
        height: 802px;

    }
} */

/* .custom-map-modal {
    .modal-dialog {
     width: 100%;
     height: 100%;
     margin: 0;
     padding: 0;
   }
   .modal-content {
     height: auto;
     min-height: 100%;
     border-radius: 0;
  }
 } */

/* 
 .Modal {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background-color: papayawhip;
  }

  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rebeccapurple;
  } */

@media (min-width: 992px){
.my-modal-lg {
    width: auto;
}
}

@media (min-width: 768px) {
.my-modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
 }
}

@media (min-width: 768px) {
.my-modal-content {
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    height: auto;
    min-height: 100%;
    border-radius: 0;
}
}